<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://next-step-employment-app.herokuapp.com/">
                    <img src="/images/Logo.png" width="112" height="28">
                </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                  Home
                </a>
          
                <a class="navbar-item" href="#">
                    Profile
                </a>

                <a class="navbar-item" href="/job/create">
                    Post a Job
                </a>

                <a class="navbar-item" href="/manager/{{manager.id}}/jobs">
                    View Your Listings
                </a>
            </div>

        
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign Out</strong>
                        </a>
                    </div>
                </div>
            </div>
    </nav>

<div class="container">
    
        <div class= "card-header-title">
            Welcome, {{manager.first_name}} {{manager.last_name}}
        </div>

        <div class= "user-profile">

            <div class= "view-profile">
                    <div class="managername">
                    {{manager.first_name}} {{manager.last_name}}
                </div>

                <div class="manageremail">
                    {{manager.email}}
                </div>

                <div class="managerphone">
                    {{manager.phone}}
                </div>

                <div class="managercompany">
                    <strong>Company Information:</strong>

                    <div class="companyname">
                        {{company.company_name}}
                    </div>

                    <div class="companyphone">
                        {{company.phone}}
                    </div>
                </div>

                

                <div class="bio">
                    <h2><strong>About:</strong></h2>

                    {{manager.bio}}
                </div>


                <div class="editbutton">
                    <button class="button is-primary edit-toggle">Edit Profile</button>

                </div>
                     


            </div>

            <div class= "edit-profile">

                <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input firstNameInput" type="text" value={{manager.first_name}}>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <p class="control is-expanded has-icons-left has-icons-right">
                            <input class="input lastNameInput" type="text" value={{manager.last_name}}>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

             <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">E-mail</label>
                </div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <p class="control is-expanded has-icons-left has-icons-right">
                            <input class="input emailInput" type="email" value={{manager.email}}>
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Phone</label>
                </div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    +1
                                </a>
                            </p>
                            <p class="control is-expanded">
                                <input class="input phoneInput" type="tel" value={{manager.phone}}>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Bio</label>
                    <div class="control">
                        <textarea class="textarea bioInput" placeholder="Write a bio about yourself or your company here" value= {{manager.bio}}></textarea>
                    </div>
                </div>


            <button class="button is-primary save-changes">Save Changes</button>

            </div>



           

           
            
        </div>
    </div>
   
