 <div class= "column is-one-third-desktop is-half-tablet is-full-mobile">
            <div class="panel">
                <div class="panel-heading">
                    <p>{{title}}</p>
                </div>

                <div class="panel-block">
                   <p class="job-description-short"> {{description}} </p>
                </div>

                <div class="panel-block">
                    <p><strong>Type: </strong> {{type}}</p>
                </div>

                <div class= "panel-block">
                    <p><strong>Wage: </strong> {{wage}}</p>
                </div>

                <div class= "panel-block buttons managerjob-buttons">
                    <button class= "button is-primary job-edit" data-id="{{id}}">
                        Edit Job
                    </button>

                    <button class= "button is-primary job-delete" data-id="{{id}}">
                        Delete Job
                    </button>

                </div>
            </div>
        </div>