 <div class= "column is-one-third-desktop is-half-tablet is-full-mobile">
            <div class="panel">
                <div class="panel-heading">
                    <p>{{title}}</p>
                </div>

                <div class="panel-block">
                    <p class="job-description-short">{{description}}</p>
                </div>

                <div class="panel-block">
                    <p><strong>Type: </strong>{{type}}</p>
                </div>

                <div class= "panel-block">
                    <p><strong>Wage: </strong>{{wage}}</p>
                </div>

                <div class= "panel-block">
                    <button class= "button is-primary is-fullwidth job-data" data-id="{{id}}">
                        Learn More
                    </button>

                </div>
            </div>
        </div>